/*main styles*/
section{
  display: flex;
  align-items: center;
  /*changed*/
  justify-content: space-between;
  background-color: #FFFF;
  font-family: "Poppins", sans-serif;
  margin: 0% auto;
  padding: 50px 40px;
  max-width: 1200px;
  gap: 60px;
  min-height: 500px;
}
/*left page style*/
.page-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  flex: 1;
}

/*main heading styles*/

.heading {
  font-size: 65px;
  font-weight: bold;
  Line-height: auto;
  letter-spacing: 2px;
  max-width: 392px;
  width: 100%;
  min-height: 72px;
}

/* sub heading styles*/
.sub-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: auto;
  letter-spacing: 0%;
}

/*information of abut html*/
.verde-info {
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0%;
  line-height: 2;
}

/*styles for buttons*/

.btn {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-btn,
.design-btn {
  width: fit-content;
  opacity: 100%;
  font-size: 30px;
  letter-spacing: 0px;
  outline: none;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

.contact-btn {
  color: #FFFF;
  background-color: #000000;
}
.contact-btn:active{
  position: relative;
  top: 2px;
  background-color: #1bab1b;
}

.contact-btn:hover {
  background-color:#4dd74d;

}

.design-btn {
  color:  #2B2B2B;
  background-color: #2DCA4B;
}
.design-btn:active{
  background-color: #1bab1b ;
  position: relative;
  top: 2px;
}
.design-btn:hover {
  background-color:  #4dd74d;
  
}


/* styles for imgae*/
.page-right {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.page-right img {
  max-width: 400px;
  width: 100%;
  min-height: 450px;
  object-fit: cover;
  border-radius: 8px;
  animation: fadeIn 2s alternate;
}