main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: grid;
  gap: 20px;
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  background-color: #2dca2d;
  padding: 50px;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 20px;
}

.contact-btn {
  text-align: center;
}
