main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

form {
  display: grid;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 40px;
  border: 10px double #2dca2d;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  /* background-color: #2dca2d; */
  background-color: #3d3d3d;
}

.contact-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.contact-info:nth-child(5) {
  align-items: start;
}

.contact-info > label {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  /* color: #2dca2d; */
}

.contact-info > input,
.contact-info > textarea {
  border: 1px solid #000;
  padding: 5px 10px;
  /* border-radius: 3px; */
}

.contact-info select {
  cursor: pointer;
}

.contact-btn {
  text-align: center;
  padding: 50px 0;
}

.contact-btn > button {
  background-color: #2dca2d;
  cursor: pointer;
  /* background-color: #000;
  color: #fff; */
}

button:hover {
  background-color: #4dd74d;
  /* background-color: #3d3d3d; */
}

button:active {
  position: relative;
  top: 2px;
  background-color: #1bab1b;
}
