* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Poppins", sans-serif;
}

main {
  flex: 1;
}

/* NAVIGATION BAR */
nav {
  background-color: #2b2b2b;
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  padding: 15px 30px;
}

.nav-links li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.nav-links li:hover {
  background-color: #3b3b3b;
}

.nav-links li a:hover {
  color: #2dca4b;
}

.nav-links li:active {
  background-color: #161616;
}

.nav-links li a:active {
  position: relative;
  top: 2px;
}

.navbar-container,
.hero-section,
main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
}

h1 {
  font-size: 72px;
  letter-spacing: 10px;
}

p {
  font-size: 20px;
}

/* FOOTER */ 
.footer {
  background-color: #2b2b2b;
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 30px 0;
}

/* FOOTER LINKS */
.footer-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.footer-links li {
  padding: 15px 30px;
}

.footer-links li a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  transition: 0.3s;
}

.footer-links li:hover {
  background-color: #3b3b3b;
}

.footer-links li a:hover {
  color: #2dca4b;
}

.footer-links li:active {
  background-color: #161616;
}

.footer-links li a:active {
  position: relative;
  top: 2px;
}

/* FOOTER ICONS */
.footer-icons {
  display: flex;
  gap: 60px;
}

.footer-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;

  color: #fff;
  font-size: 30px;
  text-decoration: none;
  transition: 0.3s;
}

.footer-icons a:hover {
  color: #2dca4b;
}