* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  background-color: #2b2b2b;
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 100px;
}

.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li {
  padding: 15px 30px;
}

.nav-links li a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  transition: 0.3s;
}

.nav-links li:hover {
  background-color: #3b3b3b;
}

.nav-links li a:hover {
  color: #2dca4b;
}

.nav-links li:active {
  background-color: #161616;
}

.nav-links li a:active {
  position: relative;
  top: 2px;
}

.navbar-container,
.hero-section,
main {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 10px 20px;
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
}

h1 {
  font-size: 72px;
  letter-spacing: 10px;
}

p {
  font-size: 20px;
}
